
# **UTS Pembelajaran Mesin** gajadi

---


Nama : Safira Oktarini;
NIM : 1197050124;
Kelas : C

### TOPIK MINI RISET : DATA PERTANDINGAN BOLA BASKET SEASON 2013-2019

In [ ]:
#install the dependencies
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (6.1.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.10.8)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.64.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)

In [ ]:
from google.colab import files
files.upload( )

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"safiraoktarini","key":"637b515f383f28d4361092db3ed8c54b"}'}

In [ ]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

#mengganti permission
!chmod 600 ~/.kaggle/kaggle.json

In [ ]:
!kaggle datasets download -d andrewsundberg/college-basketball-dataset

Downloading college-basketball-dataset.zip to /content
  0% 0.00/237k [00:00<?, ?B/s]
100% 237k/237k [00:00<00:00, 66.7MB/s]

In [ ]:
from zipfile import ZipFile
file_name = "college-basketball-dataset.zip"

with ZipFile(file_name,'r') as zip:
  zip.extractall()
  print('Done')

Done

In [ ]:
import pandas as pd
df = pd.read_csv('cbb.csv')
df.head( )

,TEAM,CONF,G,W,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,...,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,POSTSEASON,SEED,YEAR
0,North Carolina,ACC,40,33,123.3,94.9,0.9531,52.6,48.1,15.4,...,30.4,53.9,44.6,32.7,36.2,71.7,8.6,2ND,1.0,2016
1,Wisconsin,B10,40,36,129.1,93.6,0.9758,54.8,47.7,12.4,...,22.4,54.8,44.7,36.5,37.5,59.3,11.3,2ND,1.0,2015
2,Michigan,B10,40,33,114.4,90.4,0.9375,53.9,47.7,14.0,...,30.0,54.7,46.8,35.2,33.2,65.9,6.9,2ND,3.0,2018
3,Texas Tech,B12,38,31,115.2,85.2,0.9696,53.5,43.0,17.7,...,36.6,52.8,41.9,36.5,29.7,67.5,7.0,2ND,3.0,2019
4,Gonzaga,WCC,39,37,117.8,86.3,0.9728,56.6,41.1,16.2,...,26.9,56.3,40.0,38.2,29.0,71.5,7.7,2ND,1.0,2017

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2455 entries, 0 to 2454
Data columns (total 24 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   TEAM        2455 non-null   object
 1   CONF        2455 non-null   object
 2   G           2455 non-null   int64
 3   W           2455 non-null   int64
 4   ADJOE       2455 non-null   float64
 5   ADJDE       2455 non-null   float64
 6   BARTHAG     2455 non-null   float64
 7   EFG_O       2455 non-null   float64
 8   EFG_D       2455 non-null   float64
 9   TOR         2455 non-null   float64
 10  TORD        2455 non-null   float64
 11  ORB         2455 non-null   float64
 12  DRB         2455 non-null   float64
 13  FTR         2455 non-null   float64
 14  FTRD        2455 non-null   float64
 15  2P_O        2455 non-null   float64
 16  2P_D        2455 non-null   float64
 17  3P_O        2455 non-null   float64
 18  3P_D        2455 non-null   float64
 19  ADJ_T       2455 non-null   float64
 20  WAB         2455 non-null   float64
 21  POSTSEASON  476 non-null    object
 22  SEED        476 non-null    float64
 23  YEAR        2455 non-null   int64
dtypes: float64(18), int64(3), object(3)
memory usage: 460.4+ KB

In [ ]:
# set independent variable/attribute/predictor/feature sampai kolom AGE
X = df[df.columns[:23]]
 
# set dependent variable/clas/target/label
y = df['YEAR']

In [ ]:
# ini jadinya X

X

,TEAM,CONF,G,W,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,...,FTR,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,POSTSEASON,SEED
0,North Carolina,ACC,40,33,123.3,94.9,0.9531,52.6,48.1,15.4,...,32.3,30.4,53.9,44.6,32.7,36.2,71.7,8.6,2ND,1.0
1,Wisconsin,B10,40,36,129.1,93.6,0.9758,54.8,47.7,12.4,...,36.2,22.4,54.8,44.7,36.5,37.5,59.3,11.3,2ND,1.0
2,Michigan,B10,40,33,114.4,90.4,0.9375,53.9,47.7,14.0,...,30.7,30.0,54.7,46.8,35.2,33.2,65.9,6.9,2ND,3.0
3,Texas Tech,B12,38,31,115.2,85.2,0.9696,53.5,43.0,17.7,...,32.9,36.6,52.8,41.9,36.5,29.7,67.5,7.0,2ND,3.0
4,Gonzaga,WCC,39,37,117.8,86.3,0.9728,56.6,41.1,16.2,...,39.0,26.9,56.3,40.0,38.2,29.0,71.5,7.7,2ND,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2450,Michigan St.,B10,35,26,111.4,87.8,0.9392,50.6,44.5,20.8,...,36.6,32.4,50.4,44.3,34.1,30.1,64.4,6.7,S16,3.0
2451,Arizona,P12,35,27,114.4,92.2,0.9229,52.5,46.6,19.5,...,37.4,32.9,50.6,43.4,37.1,35.8,66.8,4.6,S16,6.0
2452,Oregon,P12,37,28,104.8,88.6,0.8728,49.3,46.4,21.4,...,38.4,33.3,49.1,44.9,33.3,33.4,69.2,2.9,S16,12.0
2453,La Salle,A10,34,24,112.0,96.2,0.8516,51.9,49.3,17.1,...,31.3,28.5,49.3,50.6,37.7,30.2,66.0,0.3,S16,13.0
2454,Florida Gulf Coast,ASun,35,24,103.4,96.3,0.6952,51.6,46.9,21.0,...,35.2,32.7,52.3,46.9,33.4,31.3,69.1,-4.0,S16,15.0

In [ ]:
# yang ini Y nya

y

0       2016
1       2015
2       2018
3       2019
4       2017
        ...
2450    2013
2451    2013
2452    2013
2453    2013
2454    2013
Name: YEAR, Length: 2455, dtype: int64

In [ ]:
# terdapat fitur yang gak sama skalanya seperti ADJOE, G dan TEAM jadi perlu dibuat sama skalanya dengan StandardScaler()

from sklearn.preprocessing import StandardScaler
 
# standarisasi nilai-nilai dari dataset
scaler = StandardScaler()
scaler.fit(X)
X = scaler.transform(X)

MODELING

In [ ]:
# training 60% testing 40%

from sklearn.model_selection import train_test_split
 
# memisahkan data untuk training dan testing
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.4, random_state=42)

In [ ]:
# fiting algoritma SVM dengan rbf kernal

from sklearn.svm import SVC
 
# membuat objek SVC dan memanggil fungsi fit untuk melatih model
clf = SVC(kernel='rbf')
clf.fit(X_train, y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

ValueError: ignored